.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    background: url(../assets/Preview.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 400px;
  }
  
  .confirmation h2 {
    margin-bottom: 20px;
  }
  
  .confirmation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }